@page "/Acronyms"

<PageTitle>Common Acronyms</PageTitle>

<h2>
    <span style="font-weight:bolder">
        CRUD
    </span>
    </h2>

<h3>
    <span style="font-weight:bolder">
        C
    </span>
    - Create
</h3>

<h3>
    <span style="font-weight:bolder">
        R
    </span>
    - Read (or Retrieve)
</h3>

<h3>
    <span style="font-weight:bolder">
        U
    </span>
    - Update
</h3>

<h3>
    <span style="font-weight:bolder">
        D
    </span>
    - Delete
</h3>

<p>
    <font size="4">
        These are the four fundamental functionalities that a program concerning data should always include.
        Applies in back-end development and databases.
    </font>
</p>

<hr>

<h2>
    <span style="font-weight:bolder">
        DRY
    </span>
</h2>

<h2>
    <span style="font-weight:bolder">
        D
    </span>
    - Don't
</h2>

<h2>
    <span style="font-weight:bolder">
        R
    </span>
    - Repeat
</h2>

<h2>
    <span style="font-weight:bolder">
        Y
    </span>
    - Yourself
</h2>

<p>
    <font size="4">
        A general principle for software developers to reduce code redundancy. 
        Object-Oriented Programming helps enforce the DRY principle.
    </font>
</p>




@code {

}
