@page "/CodeLab"

<PageTitle>CodeLab</PageTitle>

<h1>CodeLab</h1>

<a href="CodeLab/QRCode">QR Code</a>

<p></p>

<a href="/CodeLab/WeatherApp">Weather App</a>

<p></p>

<a href="/CodeLab/GraduationDateCountdown">Countdown Timer</a>

@code {

}
