@page "/"

<PageTitle>About Preston Viado</PageTitle>

<div style="display: flex; align-items: flex-start; gap: 2rem;">
    <img src="/Images/PrestonPic.PNG" width="400" alt="Preston Viado" style="max-width: 100%;" />

    <div>
        <h3 style="font-weight: bold; line-height: 1.7; margin-bottom: 1rem;">
            Hi, I'm Preston! A Computer Science graduate with a love for delivering quality software solutions and products. 
            I studied at University of Maryland, Baltimore County, (UMBC) and 
            I am currently looking for an opportunity to make meaningful contributions to a team.
        </h3>
        <h3 style="font-weight: bold; line-height: 1.7; margin-bottom: 1rem;">
            My focus is in software development and QA testing, whether in C#, Python, or Playwright. Whether it's
            automating workflows, developing applications, or exploring AI's capabilities, I aim to write and test software that is
            not only functional but reliable.
        </h3>
        <h3 style="font-weight: bold; line-height: 1.7; margin-bottom: 1rem;">
            Inspired by a curiosity that started in high school with my first Python program, I bring
            a hands-on, self-driven approach to everything I build. I am always learning, always growing.
        </h3>
        <p>Connect with me</p>
        <a href="https://www.linkedin.com/in/preston-viado">Linkedin</a>
    </div>
</div>