@page "/"

<PageTitle>About Preston Viado</PageTitle>

<h1>About me</h1>
<img src="/Images/PrestonPic.PNG" width="200px" />
<h1></h1>

<p> 
    <font size ="4px">
        This is a test
    </font>
    </p>


<a href="#">About Me</a>