@page "/"

<PageTitle>About Preston Viado</PageTitle>

<h1>About me</h1>
<img src="/Images/PrestonPic.PNG" width="200" />
<h1></h1>

<p> 
    <font size ="4">
        I started out my coding journey as an eager high school senior learning Python. 
        I grew a passion for writing code as I created more projects. 
        I was amazed that could start from a simple "Hello, world" to playing around with GUI at the end of high school.
        Since then, I decided to pursue a formal education in computer science!
    </font>
    </p>

<p>
    <font size="4">
        I have recently earned my AS degree in computer science and I am currently pursuing my BS in computer science. 
        From college, I formally learned Java, C++, and some C.
    </font>
</p>

<p>
    <font size="4">
        My college currently teaches me how to translate real-world scenarios into solvable solutions in code. 
        They also teach me how to research, analyze, implement algorithms, and collaborate with classmates.
    </font>
</p>

<p>
    <font size="4">
        Outside of class, I try to expose myself to other fields in software, like databases and front-end development. 
        I learned C#, SQL, NoSQL, and some HTML outside of college. 
        I get to play around with tools such as Blazor Server, WPF, API, MySQL, MongoDB, CosmosDB, and so on.
        I also learned how to properly plan a project in development, like WOULD and the Agile method. Learning about how all the fields work together helped me understand how crucial each field is to one another. 
        As a result, I gained a deeper appreciation of what I am learning in college.
    </font>
</p>

<p>
    <font size="4">
        When I have free time, I like to flex my creative side and develop fun projects to enhance my current knowledge. 
    </font>
</p>

<p>
    <font size="4">
        This site is about sharing a little about myself. This is one my fun projects, so I hope to update this site with more content when college allows me!
    </font>
</p>

<a href="#">About Me</a>