@page "/Notebook/MVP"

<PageTitle>MVP Meaning</PageTitle>

<h2>
    <span style="font-weight:bolder">
        MVP
    </span>
</h2>

<h3>
    <span style="font-weight:bolder">
        M
    </span>
    - Minimum
</h3>

<h3>
    <span style="font-weight:bolder">
        V
    </span>
    - Viable
</h3>

<h3>
    <span style="font-weight:bolder">
        P
    </span>
    - Product
</h3>

<p>
    <font size="4">
        MVP means to start off the app small to ensure that it is working first. 
        The most important trait of an app is that it works properly. 
        If the app cannot function as intended, then the rest of the features are meaningless. 
    </font>
</p>

<p>
    <font size="4">
        <i>"Always start off your projects as an MVP and then add features later" - Tim Corey.</i>
    </font>
</p>

<hr>

<p>
    <font size="4">
        For Example, here was my MVP when I was creating this site.
    </font>
</p>

<p>
    <font size="4">
        Preston's Personal Website<br>
        - Create a new repository in GitHub<br>
        - Create a front-end app using Blazor Server<br>
        - Create a website server in the cloud using Azure<br>
        - Have the server point to the repository in GitHub
    </font>
</p>

<hr>

<p>
    <font size="4">
        Phrases that indicate an MVP is needed:
    </font>
</p>

<p>
    <font size="4">
        "I need this fast"
    </font>
</p>

<p>
    <font size="4">
        "I need this right away"
    </font>
</p>

<p>
    <font size="4">
        "I need this right away"
    </font>
</p>

<p>
    <font size="4">
        "This is urgent"
    </font>
</p>

<p>
    <font size="4">
        "I have a hurry up job for you to do"
    </font>
</p>

@code {

}
