@page "/Notebook"

<PageTitle>Preston's Notebook</PageTitle>

<h1>Preston's Notebook</h1>

<a href="Notebook/Acronyms">CRUD and DRY</a>

<p></p>

<a href="Notebook/MVP">MVP Meaning</a>

<p></p>

<a href="Notebook/WOULD">The WOULD Framework</a>

@code {

}
