@page "/Notebook/WOULD"

<PageTitle>The WOULD Framework</PageTitle>

<h2>
    <span style="font-weight:bolder">
        WOULD
    </span>
</h2>

<p>
    <font size="4">
        WOULD is a framework in how to efficiently plan a programming project.
    </font>
</p>

<table class="table table-striped">
    <tbody>
            <tr>
                <td>
                <h3>
                    <span style="font-weight:bolder">
                        W
                    </span>
                    - Walk Through the Requirements
                </h3>
                </td>
            <td>
                Understand the big picture
            </td>
            </tr>
        <tr>
            <td>
                <h3>
                    <span style="font-weight:bolder">
                        O
                    </span>
                    - Open Up the Requirements
                </h3>
            </td>
            <td>
                Start listing what requirements you have been given. <br />
                Start <u>asking questions</u> about what you missing
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <span style="font-weight:bolder">
                        U
                    </span>
                    - UI Design
                </h3>
            </td>
            <td>
                Start drawing or planning in a notepad before opening up an IDE. <br />
                Only use notepad first because it's faster to design through drawing than using a drawing software
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <span style="font-weight:bolder">
                        L
                    </span>
                    - Logic Design
                </h3>
            </td>
            <td>
                <i>"How does this fit together?"</i> <br />
                Pretend you're the user and start visualizing what the application should provide and show <br />
                Should be intuitive (easy to use and understand)
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <span style="font-weight:bolder">
                        D
                    </span>
                    - Data Design
                </h3>
            </td>
            <td>
                Figuring out where the data should be stored. <br />
                May consist of classes/models and their respective properties/attributes
            </td>
        </tr>
    </tbody>
</table>


@code {

}
